@model EXIWARE.Models.PEDIDO_PEDIDODETALLEViewModel

@{
    ViewBag.Title = "PedidoPedidoDetalle";
}

<h2>PedidoPedidoDetalle</h2>

<div>
    <h4>PEDIDO_PEDIDODETALLEViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>

<div>

    <table class="table">
        <tr>
            <th>
                ID PEDIDO</br>

            </th>
            <th>
                SUCURSAL</br>

            </th>
            <th>
                EMPLEADO</br>

            </th>
            <th>
                CLIENTE</br>

            </th>
            <th></th>
        </tr>
        @foreach (var item in Model._PEDIDO)
        {
            <tr>
                <td>
                    @item.ID
                </td>
                <td>
                    @item.SUCURSAL.NOMBRE
                </td>
                <td>
                    @item.EMPLEADO.NOMBRE
                </td>
                <td>
                    @item.CLIENTE.NOMBRE
                </td>
            </tr>
        }

    </table>


    </br>

    <table class="table">
        <tr>
            <td>
                <b>ID PEDIDO</b>
            </td>
            <td>
                <b>PRODUCTO</b>
            </td>
            <td>
                <b>CANTIDAD</b>
            </td>
        </tr>
        @foreach (var item in Model._PEDIDO_DETALLE)
        {
            <tr>
                <td>
                    @item.ID_PEDIDO
                </td>
                <td>
                    @item.PRODUCTO
                </td>
                <td>
                    @item.PRODUCTO_CANTIDAD
                </td>
            </tr>
        }
    </table>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
