@model EXIWARE.Models.PEDIDO_DETALLE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PEDIDO_DETALLE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO_CANTIDAD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO_CANTIDAD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PEDIDO.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PEDIDO.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCTO.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCTO.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
